
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body{
    background: $light-yellow;
    font-size: 62.5%;
    // font-family: "jaf-bernino-sans-comp";
}

html, body {
height: 100%;
}

.content{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
footer,
header{
    background:$dark-blue;
    overflow: hidden;
    font-size: 1.2em;
    color: $light-blue;
}
header{
    height: 80px;
}

footer {
    height: 142px;
}



input {
    line-height: normal;
    border: 0;
    border: none;
    border-bottom: 1px solid #e12d46;
    background: rgba(0, 0, 0, 0.2) !important;
    text-overflow: ellipsis;
    padding: 2px 5px;
    font-size: 11px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #e12d46;
    width: 15px;
    padding: 2px 5px;
    margin: 0;
    background: rgba(0,0,0,.4) !important;
    color: black;
    font-size: 11px;
    box-shadow: none;
    float: left;
    box-sizing: border-box;

}


.container {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
    &:after {
      content: "";
      display: block;
      height: 142px;
    }
}

.logo {
    float: left;
}





.pull-right{
    float: right;
}

/******* summary table ****** */
.ticketsResultTable{
    background:$light-blue;
    color: rgba(black,0.5);
    overflow:hidden;
    margin:0 auto;
    border-collapse:collapse;
    font-size: 1.2em;
    width:95%;
    tr{
        cursor: pointer;
        &:nth-child(odd){
            background: rgba($dark-blue, 0.2);
            border-top: 1px solid rgba($light-yellow, 0.4);
            border-bottom: 1px solid rgba($dark-blue, 0.35);
            color: rgba(black,0.6);
        }
        &:hover{
            background: $red;
            color: white;
        }
        &:first-child th{
            display:table-cell;
            text-align:center;
            background: $blue;
            color: white;
            max-width: 125px;
        }
        td,
        th{
            padding:7px 15px;
            line-height: 1;
            font-size: 12px;
        }
        th{
            cursor: default;
            font-weight: normal;
        }
    }
}


    .dataTables_filter {
        margin: 10px 0;
        float: right;
        font-size: 11px;
    }

.dataTables_wrapper {
    width: 100%;
    max-width: 1000px;
    overflow-x: auto;
    .my-tag {
        background: rgba(black, 0.2);
        width: 100%;
        padding: 2px 5px;
        border-radius: 4px;
        float: left;
        margin-top: 3px;
        position: relative;
        &:hover {
            background: rgba(black, 0.5);
            color: rgba(white, 0.9);
        }
        &:before {
            content: '#';
            color: rgba(white, 0.6);
            padding-right: 3px;
        }
    }
    .yadcf-filter {
        width: 85px;
        float: left;        
    }
    .yadcf-filter-wrapper {
        margin-top: 3px;
        overflow: hidden;
        border-radius: 2px;
        min-width: 100px;
    }
}