/*_______________________________
  ****** base color scheme ****** 
  -------------------------------*/
$blue:          rgb(21,149,163);
$dark-blue:     rgb(34 ,83,120);
$light-blue:    rgb(172,240,242);
$light-yellow:  rgb(242,255,227);
$red:           rgb(225,45,70);